<!DOCTYPE html>
<html>
<head>
  <title>Loginapp</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style2.css" />
</head>
<body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GoodLuck Finance Company</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/index">Dashboard</a></li>
              <li><a href="/users/logout">logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#" > Overview <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Report</a></li>
              <li><a href="#">Analytics</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="">Add new borrower</a></li>
              <li><a href="">Address details</a></li>
              <li><a href="">Accouts details</a></li>
              <li><a href="">Borrower Card</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="">Nav item again</a></li>
              <li><a href="">One more nav</a></li>
              <li><a href="">Another nav item</a></li>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

  <h2 class="sub-header">Section title</h2>
  <!DOCTYPE html>
  <html>
  <head>
  <style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
  </style>
  </head>
  <body>

  <table>
    <tr>
      <th>Name</th>
      <th>w/o</th>
      <th>Village</th>
      <th>GroupName</th>
      <th>MobileNo.</th>
      <th>loan Amount</th>
      <th>Address</th>
      <th>Date</th>
      <th>Aadharid1</th>
      <th>Aadharid2</th>
      <th>installments</th>
      <th>No. of Installments</th>
      <th>per</th>
    </tr>
    <br>



    <% pp.forEach(function(a) { %>
    <tr>
    <td><%= a.name %></td></br>
    <td><%= a.wo %></td>
    <td><%= a.village %></td>
    <td><%= a.groupname %></td>
    <td><%= a.mobileno %></td>
    <td><%= a.loanamount%></td>
    <td><%= a.address%></td>
    <td><%= a.date%></td>
    <td><%= a.Aadharid1%></td>
    <td><%= a.Aadharid2%></td>
    <td><%= a.installment %></td>
    <td><%= a.noofinstallments%></td>
    <td><%= a.per%></td>
   <br>
    </tr>
  <%})%>
  </table>

</div>
</div>
</div>

          </body>
          </html>
